<div class="container" id="new_article_container">
  <script>
    var map ;
    var marker;
    $(document).ready(function(){
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35, lng: 135},
        zoom: 8
      });
      marker = new google.maps.Marker({
        map: map,
        position: new google.maps.LatLng(35,135),
        title: 'Hello World!',
        draggable: true
      });

      $("button").click(function () {
        alert(marker.position);
      })

      $('#new_article').submit(function() {
        // DO STUFF
        $("#lat").val(marker.position.lat());
        $("#lng").val(marker.position.lng());
        return true; // return false to cancel form action
      });

      var opts = {
        container: 'epiceditor',  //显示编辑框的div
        textarea: 'content_editor', //epiceditor自动把编辑好的内容同步到这个textarea中
        basePath: '<%= home_url %>',  //指定epiceditor的路径，最好是绝对路径
        clientSideStorage: false,  //是否使用客户端存储，true表示编辑的内容会存在客户端，下次打开页面会看到上次编辑的内容
        theme: {
          base: '/assets/epiceditor.css', //你可以选择editor的样式，样式文件在/public/epiceditor/
          preview: '/assets/github.css',
          editor: '/assets/epic-light.css'
        },
        button: {
          preview: true,
          fullscreen: true,
          bar: true
        },
        string: {
          togglePreview: '预览',
          toggleEdit: '编辑',
          toggleFullscreen: '全屏'
        },
        autogrow: {
          minHeight: 200
        }
      }
      var editor = new EpicEditor(opts);
      editor.load();

    });
  </script>
  <h1>New Article</h1>

  <div id="map" style="width:100%;height:380px;"></div>
  <button>Coordinate</button>
  <%= render 'form' %>
  <%= link_to 'Back', articles_path %>

</div>


