/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    padding-top: 51px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

a:hover{
    background-color: white;
}

.edit_link, .edit_link:visited{
    color: #4d90fe;
}

.delete_link, .delete_link:visited{
    color: red;
}

.back_link, .back_link:visited{
    color: #5a5a5a;
}

#custom-search-input{
    position: relative;
    top: 8px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 200px;
    height: 34px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 30px;
    font-size: 12px;
}

#custom-search-input button{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#hint {
    position: relative;
    top: 7px;
    right: 1px;
    background: white;
    width: 79.5%;
    border: solid 1px #ccc;
    border-top-color: black;
    border-radius: 4px;
    z-index: 0;
}

#hint table{
    width: 100%;
    cursor: pointer;
}

#hint table tr{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ccc;
}

.line{
    padding: 10px;
    padding-left: 20px;
    font-size: 12px;

}

.line:hover{
    background-color: #357ae8;
}

#footer{
    margin-left: 133px;
    margin-right: 133px;
    padding: 15px;
}