// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_article_container{
  text-align: center;
}

#blog{
  width: 80%;
  float: right;
  text-align: justify;
}

#user{
  width: 19%;
  float: left;
  font-size: 18px;
}

#blog-main {
  font-size: 20px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#article_content p{
  font-size: 20px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#blog-post-meta {
  padding-top: 10px;
  font-size: 14px;
  color: #999;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#blog-comment{
  font-size: 20px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}


hr {
  border-top: 1px solid red
}